.users {
    width: 100%;
    max-width: 769px;
    margin: 0 auto;
}

​ .users .user {
    text-align: center;
}

.users .user h3 {
    font-size: 30px;
    font-weight: 600;
}

.users .user .field {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

​ ​ .users .card {
    margin-top: 20px;
}

.users .card .avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
}

.users .card .avatar img {
    border-radius: 50%;
}

.users .card .card-content .username {
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    padding: 15px 0;
    margin-bottom: 15px;
}

.users .card .card-content .username h2 {
    font-size: 20px;
    font-weight: 700;
}

.users .card .card-content .username h4 {
    font-weight: 500;
}

.users .card .card-content .username p {
    font-size: 14px;
}

​ .btn-fight {
    text-align: center;
    margin-top: 30px;
}

.btn-fight button {
    width: 280px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 13px;
}